.feedback {
  display: none;
  height: 100%;
  background-color: $box-color;
  position: fixed;
  z-index: 1000;
}

.feedback::-webkit-scrollbar {
  display: none;
}

.content {
  height: 100%;
}

.feedback--open {
  display: block;
  overflow-y: auto;
}

.form__item:last-child {
  height: 118px;
  margin-bottom: 0;
  line-height: 172px;
}

.form__item:last-child::-webkit-input-placeholder {
  transform: translateY(-30px);
}

.form__item:last-child:-moz-placeholder {
  transform: translateY(-30px);
}

.form__item:last-child:-moz-placeholder {
  transform: translateY(-30px);
}

.form__item:last-child::-ms-input-placeholder {
  transform: translateY(-30px);
}

.feedback .content__btn {
  margin-left: 168px;
  i {
    margin-left: 8px;
  }
}

.content__footer {
  width: 288px;
}

@media screen and (min-width: 321px) and (max-width: 1119px) {
  .feedback {
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: 1;
    position: fixed;
    overflow-y: auto;
  }

  .content {
    height: 100%;
    width: 320px;
    background-color: $box-color;
    position: absolute;
    right: 0;
    z-index: 1000;
    box-shadow: 3px 0 55px 0 $form-border;
  }
}

@media screen and (min-width: 1120px) {
  .feedback {
    width: 100%;
    height: 100vw;
    z-index: 100;
    p {
      width: 376px;
    }

    .content {
      width: 440px;
      position: fixed;
      right: 0;
      box-shadow: 3px 0 55px 0 $form-border;
    }

    .content__btn {
      margin-left: 260px;
    }
  }

  #feedback__btn-close {
    position: absolute;
    left: -72px;
    top: 32px;
  }
}
